body{
  ;
}

.navbar{
  background-color: blueviolet !important;
}

.dropdown-item.active, .dropdown-item:active{
color: rgb(43, 18, 182);
text-decoration: none;
background-color: #831d75;
color: aliceblue;
}

.dropdown-item{

}

.blockquote-footer {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 0.875em;
    color: #848d94;
    text-align: right;
}

.blockquote{
  font-size: 0.975em;
  color: #ced3d6
}

img {
    max-width: 100%;
    margin:auto
}

#floating-menu {
background-image: linear-gradient(to bottom, blueviolet 0, rgb(141, 3, 233) 80%);
border: 5px outset blueviolet;
border-radius: 50px;
text-align: center;
overflow: hidden;
padding-top: 10px;
padding-bottom: 10px;
font-size: 2rem;
line-height: 200%;
position: none;
padding: 10px;
display: block;
margin-left: auto;
margin-right: auto;
}

ul {
list-style-type: none;
text-align: center;
padding-left: 0px;
display:inline-block;
}

a {
  list-style-type: none;
  color: white;
  font-size: 0.875em;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgb(182, 180, 176);
}

@media screen and (max-width: 1100px){
.blockquote {
font-size: 0.675em;;

}

@media screen and (max-width: 888px){
#floating-menu{
font-size: 1rem;
width: 200px;
margin-left: auto;
margin-right: auto;
}

.blockquote {
display: none;


}





/*

static
relative
fixed
absolute
sticky
none

.author__bio--wrapper {
  max-width: 336px;
}

@media screen and (max-width: 65rem) {
  .author__bio--wrapper {
    margin-bottom: -70px;
    max-width: 100%;
  }
}


body {
font-family: 'Open Sans', sans-serif;
}

h1 {
font-size: 4em;
text-align: center;
color: green;
}
nav {
font-size: 1.5em;
display: flex;
justify-content: space-between;
}

ul,li {
display: inline;
margin: 0;
padding: 0;
}
ul {
flex: 1;
max-width: 70%;
display: flex;
justify-content: space-evenly;
}

main{
text-align: center;
}

@media (max-width: 768px){
h1 {
font-size: 2em;
}
nav, nav ul {
flex-direction: column;
align-items: center;
}

}

.tg {
border-collapse: collapse;
border-spacing: 0;
}

.tg td {
border-color: black;
border-style: solid;
border-width: 1px;
font-family: Arial, sans-serif;
font-size: 14px;
overflow: hidden;
padding: 10px 5px;
word-break: normal;
}

.tg th {
border-color: black;
border-style: solid;
border-width: 1px;
font-family: Arial, sans-serif;
font-size: 14px;
font-weight: normal;
overflow: hidden;
padding: 10px 5px;
word-break: normal;
}

.tg .tg-0pky {
border-color: inherit;
text-align: left;
vertical-align: top
}

.tg .tg-0lax {
text-align: left;
vertical-align: top
}

.floatLeft {
width: 40%; 
float: left;
margin-left: auto;
margin-right: auto;
}

.floatRight {
width: 60%; 
float: right; 
margin-left: auto;
margin-right: auto;
}
.container {
overflow: hidden; 
}

table {
    margin: 0 auto;
  }

  /*