:root {
--blue: #007bff;

--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;

--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;

--indigo: #290046;
--primary: blueviolet;
}

body{

}

img {
max-width: 100px;
height: auto; 
}

.navbar-brand {
padding-top: 0;
}

.navbar{
  background-color: var(--primary) !important;
}

.dropdown-item.active, .dropdown-item:active{
color: blueviolet;
text-decoration: none;
background-color: var(--primary);
color: aliceblue;
}

.dropdown-item{

}

.blockquote-footer {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 0.875em;
    color: #848d94;
    text-align: right;
}

.blockquote{
  font-size: 0.975em;
  color: #ced3d6
}

#floating-menu {
background-image: linear-gradient(to bottom, var(--primary) 0, var(--indigo) 80%);
border: 5px outset var(--primary);
border-radius: 50px;
text-align: center;
overflow: hidden;
padding-top: 10px;
padding-bottom: 10px;
font-size: 2rem;
line-height: 200%;
position: fixed;
padding: 10px;
display: block;
margin-left: auto;
margin-right: auto;
width: 350px;
}

ul {
list-style-type: none;
text-align: center;
padding-left: 0px;
display:inline-block;
}

a {
  list-style-type: none;
  color: white;
  font-size: 0.875em;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: rgb(182, 180, 176);
}

#text-budget{
  color: white;
  text-align:justify;
  margin: 1rem;
}

#text-in-main {
list-style-type: none;
color: white;
font-size: 0.875em;
text-decoration: none;
text-align: center;
}
    

#border {
background-image: linear-gradient(to bottom, var(--primary) 0, var(--indigo) 80%);
border: 5px outset var(--primary);
border-radius: 50px;
color: white;

text-align: center;
overflow: hidden;
padding-bottom: 10px;
line-height: 200%;
}

#img-on-menu {
border-top-left-radius: 50px;
border-top-right-radius: 50px;

}

.nav-tabs > li {
float:none;
display:inline-block;
zoom:1;
border: none;
}

.nav-tabs {
text-align:center;
font-size: 0.675em;
width: 100%;
border-bottom: 2px solid #dee2e6;  
}

.nav {
display: block;
}

.nav-tabs .nav-link {
border: 3px solid transparent;
}

.nav-link {
display: block;
padding: 0.5rem 1rem;
color: white;
}

.nav-tabs .nav-link:hover {
color: white;
}
/*
.nav-tabs .nav-link:active{
color: black;
}
*/
.nav-tabs .nav-link:active, .nav-tabs .nav-link:hover {
color: black;
}

.mb-4 {
margin-bottom: 0rem !important;
}

#button_menu {
background-color: #a72896;
color: white;
border-color: var(--purple);
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
display: inline-block;
font-weight: 400;
line-height: 1.5;
border-radius: 0.25rem;
}

#button_menu:hover {
border-color: darkmagenta;
}

@media screen and (max-width: 1200px){
#floating-menu{
width: 300px;
}
}


@media screen and (max-width: 1100px){
.blockquote {
font-size: 0.675em;
}
}

@media screen and (max-width: 992px){
#floating-menu{
font-size: 1.5rem;
width: 225px;
}
}

@media screen and (max-width: 888px){

#floating-menu{
font-size: 1rem;
width: 200px;
margin-left: auto;
margin-right: auto;
position: relative;
}

.blockquote {
display: none;
}

.navbar-collapse{
flex-grow: 0;
}

}

@media screen and (max-width: 400px){
#text-budget{
text-align:left;
font-size: small;
}
}

.bg-primary{
background-color: #a72896 !important;
background-color: var(--primary) !important;
color: blueviolet;
font-size: 20.675em;
text-align:left;
}

.table {
background-color: #a72896 !important;
background-color: var(--primary) !important;
color: blueviolet !important;
font-size: 20.675em;
text-align:left;
}

#bg-primary {
background-color: #a72896;
color: blueviolet;
font-size: 20.675em;
text-align:left;

}

.intro {
  background-color: #a72896;
}

#XXX {
color: blueviolet  !important;
background-color: #a72896  !important;
font-size: 20.675em;
text-align:left;
}